--
-- PostgreSQL database dump
--

\restrict IcC1YZ8hMIGBFZk5wvxuyTM7vgxx7m4pVIhRpqdW7b44X79RTkOTE8DV1MBvCB1

-- Dumped from database version 17.7 (178558d)
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: complement_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.complement_type AS ENUM (
    'FRITE',
    'BOISSON'
);


ALTER TYPE public.complement_type OWNER TO neondb_owner;

--
-- Name: livraison_statut; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.livraison_statut AS ENUM (
    'AFFECTEE',
    'EN_COURS',
    'TERMINE',
    'ANNULEE'
);


ALTER TYPE public.livraison_statut OWNER TO neondb_owner;

--
-- Name: mode_paiement; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.mode_paiement AS ENUM (
    'WAVE',
    'OM'
);


ALTER TYPE public.mode_paiement OWNER TO neondb_owner;

--
-- Name: product_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.product_type AS ENUM (
    'BURGER',
    'MENU'
);


ALTER TYPE public.product_type OWNER TO neondb_owner;

--
-- Name: role_type; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.role_type AS ENUM (
    'CLIENT',
    'GESTIONNAIRE',
    'LIVREUR'
);


ALTER TYPE public.role_type OWNER TO neondb_owner;

--
-- Name: statut_commande; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.statut_commande AS ENUM (
    'ENCOURS',
    'TERMINE',
    'LIVRE'
);


ALTER TYPE public.statut_commande OWNER TO neondb_owner;

--
-- Name: statut_livraison; Type: TYPE; Schema: public; Owner: neondb_owner
--

CREATE TYPE public.statut_livraison AS ENUM (
    'EN_COURS',
    'TERMINEE',
    'ANNULE'
);


ALTER TYPE public.statut_livraison OWNER TO neondb_owner;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: boisson; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.boisson (
    id bigint NOT NULL,
    volume text
);


ALTER TABLE public.boisson OWNER TO neondb_owner;

--
-- Name: burger; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.burger (
    id bigint NOT NULL,
    description text
);


ALTER TABLE public.burger OWNER TO neondb_owner;

--
-- Name: commande; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.commande (
    id bigint NOT NULL,
    client_id bigint,
    date_commande timestamp with time zone DEFAULT now(),
    montant_total numeric(12,2) DEFAULT 0,
    statut public.statut_commande,
    is_paye boolean DEFAULT false,
    livraison_id bigint
);


ALTER TABLE public.commande OWNER TO neondb_owner;

--
-- Name: commande_complements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.commande_complements (
    id bigint NOT NULL,
    commande_id bigint,
    complement_id bigint,
    quantite integer DEFAULT 1,
    prix_unitaire numeric(12,2)
);


ALTER TABLE public.commande_complements OWNER TO neondb_owner;

--
-- Name: commande_complements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.commande_complements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commande_complements_id_seq OWNER TO neondb_owner;

--
-- Name: commande_complements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.commande_complements_id_seq OWNED BY public.commande_complements.id;


--
-- Name: commande_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.commande_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commande_id_seq OWNER TO neondb_owner;

--
-- Name: commande_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.commande_id_seq OWNED BY public.commande.id;


--
-- Name: commande_items; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.commande_items (
    id bigint NOT NULL,
    commande_id bigint,
    product_id bigint,
    quantite integer DEFAULT 1,
    prix_unitaire numeric(12,2),
    remarque text
);


ALTER TABLE public.commande_items OWNER TO neondb_owner;

--
-- Name: commande_items_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.commande_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commande_items_id_seq OWNER TO neondb_owner;

--
-- Name: commande_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.commande_items_id_seq OWNED BY public.commande_items.id;


--
-- Name: commande_menu_complements; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.commande_menu_complements (
    id bigint NOT NULL,
    commande_item_id bigint,
    complement_id bigint,
    quantite integer DEFAULT 1,
    prix_unitaire numeric(12,2),
    remarque text
);


ALTER TABLE public.commande_menu_complements OWNER TO neondb_owner;

--
-- Name: commande_menu_complements_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.commande_menu_complements_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.commande_menu_complements_id_seq OWNER TO neondb_owner;

--
-- Name: commande_menu_complements_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.commande_menu_complements_id_seq OWNED BY public.commande_menu_complements.id;


--
-- Name: complement; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.complement (
    id bigint NOT NULL,
    nom text,
    prix numeric(12,2) DEFAULT 0,
    image text,
    typecomplement public.complement_type,
    image_public_id character varying(255),
    description text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.complement OWNER TO neondb_owner;

--
-- Name: complement_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.complement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.complement_id_seq OWNER TO neondb_owner;

--
-- Name: complement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.complement_id_seq OWNED BY public.complement.id;


--
-- Name: frite; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.frite (
    id bigint NOT NULL,
    taille text
);


ALTER TABLE public.frite OWNER TO neondb_owner;

--
-- Name: livraison; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.livraison (
    id bigint NOT NULL,
    commande_id bigint,
    livreur_id bigint,
    date_affectation timestamp without time zone DEFAULT now(),
    date_livraison timestamp without time zone,
    statut public.livraison_statut DEFAULT 'AFFECTEE'::public.livraison_statut
);


ALTER TABLE public.livraison OWNER TO neondb_owner;

--
-- Name: livraison_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.livraison_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.livraison_id_seq OWNER TO neondb_owner;

--
-- Name: livraison_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.livraison_id_seq OWNED BY public.livraison.id;


--
-- Name: livreur; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.livreur (
    id bigint NOT NULL,
    matricule_moto text,
    disponible boolean DEFAULT true
);


ALTER TABLE public.livreur OWNER TO neondb_owner;

--
-- Name: menu; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.menu (
    id bigint NOT NULL,
    description text
);


ALTER TABLE public.menu OWNER TO neondb_owner;

--
-- Name: menu_burger; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.menu_burger (
    menu_id bigint NOT NULL,
    burger_id bigint NOT NULL,
    quantite integer DEFAULT 1,
    id bigint NOT NULL
);


ALTER TABLE public.menu_burger OWNER TO neondb_owner;

--
-- Name: menu_burger_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.menu_burger_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.menu_burger_id_seq OWNER TO neondb_owner;

--
-- Name: menu_burger_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.menu_burger_id_seq OWNED BY public.menu_burger.id;


--
-- Name: menu_complement; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.menu_complement (
    menu_id bigint NOT NULL,
    complement_id bigint NOT NULL,
    quantite integer DEFAULT 1,
    role text,
    id bigint NOT NULL
);


ALTER TABLE public.menu_complement OWNER TO neondb_owner;

--
-- Name: menu_complement_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.menu_complement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.menu_complement_id_seq OWNER TO neondb_owner;

--
-- Name: menu_complement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.menu_complement_id_seq OWNED BY public.menu_complement.id;


--
-- Name: paiement; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.paiement (
    id bigint NOT NULL,
    commande_id bigint,
    montant numeric(12,2),
    date_paiement timestamp with time zone DEFAULT now(),
    mode_paiement public.mode_paiement
);


ALTER TABLE public.paiement OWNER TO neondb_owner;

--
-- Name: paiement_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.paiement_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.paiement_id_seq OWNER TO neondb_owner;

--
-- Name: paiement_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.paiement_id_seq OWNED BY public.paiement.id;


--
-- Name: product; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.product (
    id bigint NOT NULL,
    nom text,
    image text,
    prix numeric(12,2),
    typeproduit public.product_type,
    created_at timestamp with time zone DEFAULT now(),
    image_public_id character varying(255),
    description text
);


ALTER TABLE public.product OWNER TO neondb_owner;

--
-- Name: product_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_id_seq OWNER TO neondb_owner;

--
-- Name: product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.product_id_seq OWNED BY public.product.id;


--
-- Name: quartier; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.quartier (
    id integer NOT NULL,
    libelle text,
    zone_id integer
);


ALTER TABLE public.quartier OWNER TO neondb_owner;

--
-- Name: quartier_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.quartier_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.quartier_id_seq OWNER TO neondb_owner;

--
-- Name: quartier_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.quartier_id_seq OWNED BY public.quartier.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    nom text,
    prenom text,
    telephone text,
    login text,
    password text,
    role public.role_type,
    type_user text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO neondb_owner;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: zone; Type: TABLE; Schema: public; Owner: neondb_owner
--

CREATE TABLE public.zone (
    id integer NOT NULL,
    tarif numeric(12,2)
);


ALTER TABLE public.zone OWNER TO neondb_owner;

--
-- Name: zone_id_seq; Type: SEQUENCE; Schema: public; Owner: neondb_owner
--

CREATE SEQUENCE public.zone_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.zone_id_seq OWNER TO neondb_owner;

--
-- Name: zone_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: neondb_owner
--

ALTER SEQUENCE public.zone_id_seq OWNED BY public.zone.id;


--
-- Name: commande id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande ALTER COLUMN id SET DEFAULT nextval('public.commande_id_seq'::regclass);


--
-- Name: commande_complements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_complements ALTER COLUMN id SET DEFAULT nextval('public.commande_complements_id_seq'::regclass);


--
-- Name: commande_items id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_items ALTER COLUMN id SET DEFAULT nextval('public.commande_items_id_seq'::regclass);


--
-- Name: commande_menu_complements id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_menu_complements ALTER COLUMN id SET DEFAULT nextval('public.commande_menu_complements_id_seq'::regclass);


--
-- Name: complement id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complement ALTER COLUMN id SET DEFAULT nextval('public.complement_id_seq'::regclass);


--
-- Name: livraison id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livraison ALTER COLUMN id SET DEFAULT nextval('public.livraison_id_seq'::regclass);


--
-- Name: menu_burger id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_burger ALTER COLUMN id SET DEFAULT nextval('public.menu_burger_id_seq'::regclass);


--
-- Name: menu_complement id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_complement ALTER COLUMN id SET DEFAULT nextval('public.menu_complement_id_seq'::regclass);


--
-- Name: paiement id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.paiement ALTER COLUMN id SET DEFAULT nextval('public.paiement_id_seq'::regclass);


--
-- Name: product id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product ALTER COLUMN id SET DEFAULT nextval('public.product_id_seq'::regclass);


--
-- Name: quartier id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.quartier ALTER COLUMN id SET DEFAULT nextval('public.quartier_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: zone id; Type: DEFAULT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.zone ALTER COLUMN id SET DEFAULT nextval('public.zone_id_seq'::regclass);


--
-- Name: boisson boisson_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boisson
    ADD CONSTRAINT boisson_pkey PRIMARY KEY (id);


--
-- Name: burger burger_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.burger
    ADD CONSTRAINT burger_pkey PRIMARY KEY (id);


--
-- Name: commande_complements commande_complements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_complements
    ADD CONSTRAINT commande_complements_pkey PRIMARY KEY (id);


--
-- Name: commande_items commande_items_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_items
    ADD CONSTRAINT commande_items_pkey PRIMARY KEY (id);


--
-- Name: commande commande_livraison_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande
    ADD CONSTRAINT commande_livraison_id_key UNIQUE (livraison_id);


--
-- Name: commande_menu_complements commande_menu_complements_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_menu_complements
    ADD CONSTRAINT commande_menu_complements_pkey PRIMARY KEY (id);


--
-- Name: commande commande_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande
    ADD CONSTRAINT commande_pkey PRIMARY KEY (id);


--
-- Name: complement complement_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.complement
    ADD CONSTRAINT complement_pkey PRIMARY KEY (id);


--
-- Name: frite frite_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.frite
    ADD CONSTRAINT frite_pkey PRIMARY KEY (id);


--
-- Name: livraison livraison_commande_id_key; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livraison
    ADD CONSTRAINT livraison_commande_id_key UNIQUE (commande_id);


--
-- Name: livraison livraison_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livraison
    ADD CONSTRAINT livraison_pkey PRIMARY KEY (id);


--
-- Name: livreur livreur_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livreur
    ADD CONSTRAINT livreur_pkey PRIMARY KEY (id);


--
-- Name: menu_burger menu_burger_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_burger
    ADD CONSTRAINT menu_burger_pkey PRIMARY KEY (id);


--
-- Name: menu_complement menu_complement_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_complement
    ADD CONSTRAINT menu_complement_pkey PRIMARY KEY (id);


--
-- Name: menu menu_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu
    ADD CONSTRAINT menu_pkey PRIMARY KEY (id);


--
-- Name: paiement paiement_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT paiement_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: quartier quartier_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.quartier
    ADD CONSTRAINT quartier_pkey PRIMARY KEY (id);


--
-- Name: menu_burger unique_menu_burger; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_burger
    ADD CONSTRAINT unique_menu_burger UNIQUE (menu_id, burger_id);


--
-- Name: menu_complement unique_menu_complement; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_complement
    ADD CONSTRAINT unique_menu_complement UNIQUE (menu_id, complement_id);


--
-- Name: paiement unique_paiement_commande; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT unique_paiement_commande UNIQUE (commande_id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: zone zone_pkey; Type: CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.zone
    ADD CONSTRAINT zone_pkey PRIMARY KEY (id);


--
-- Name: boisson boisson_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.boisson
    ADD CONSTRAINT boisson_id_fkey FOREIGN KEY (id) REFERENCES public.complement(id) ON DELETE CASCADE;


--
-- Name: burger burger_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.burger
    ADD CONSTRAINT burger_id_fkey FOREIGN KEY (id) REFERENCES public.product(id) ON DELETE CASCADE;


--
-- Name: commande commande_client_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande
    ADD CONSTRAINT commande_client_id_fkey FOREIGN KEY (client_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: commande_complements commande_complements_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_complements
    ADD CONSTRAINT commande_complements_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id) ON DELETE CASCADE;


--
-- Name: commande_complements commande_complements_complement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_complements
    ADD CONSTRAINT commande_complements_complement_id_fkey FOREIGN KEY (complement_id) REFERENCES public.complement(id) ON DELETE SET NULL;


--
-- Name: commande_items commande_items_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_items
    ADD CONSTRAINT commande_items_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id) ON DELETE CASCADE;


--
-- Name: commande_items commande_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_items
    ADD CONSTRAINT commande_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id) ON DELETE SET NULL;


--
-- Name: commande_menu_complements commande_menu_complements_commande_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_menu_complements
    ADD CONSTRAINT commande_menu_complements_commande_item_id_fkey FOREIGN KEY (commande_item_id) REFERENCES public.commande_items(id) ON DELETE CASCADE;


--
-- Name: commande_menu_complements commande_menu_complements_complement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.commande_menu_complements
    ADD CONSTRAINT commande_menu_complements_complement_id_fkey FOREIGN KEY (complement_id) REFERENCES public.complement(id) ON DELETE SET NULL;


--
-- Name: frite frite_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.frite
    ADD CONSTRAINT frite_id_fkey FOREIGN KEY (id) REFERENCES public.complement(id) ON DELETE CASCADE;


--
-- Name: livraison livraison_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livraison
    ADD CONSTRAINT livraison_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id) ON DELETE CASCADE;


--
-- Name: livraison livraison_livreur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livraison
    ADD CONSTRAINT livraison_livreur_id_fkey FOREIGN KEY (livreur_id) REFERENCES public.livreur(id) ON DELETE SET NULL;


--
-- Name: livreur livreur_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.livreur
    ADD CONSTRAINT livreur_id_fkey FOREIGN KEY (id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: menu_burger menu_burger_burger_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_burger
    ADD CONSTRAINT menu_burger_burger_id_fkey FOREIGN KEY (burger_id) REFERENCES public.burger(id) ON DELETE CASCADE;


--
-- Name: menu_burger menu_burger_menu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_burger
    ADD CONSTRAINT menu_burger_menu_id_fkey FOREIGN KEY (menu_id) REFERENCES public.menu(id) ON DELETE CASCADE;


--
-- Name: menu_complement menu_complement_complement_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_complement
    ADD CONSTRAINT menu_complement_complement_id_fkey FOREIGN KEY (complement_id) REFERENCES public.complement(id) ON DELETE CASCADE;


--
-- Name: menu_complement menu_complement_menu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu_complement
    ADD CONSTRAINT menu_complement_menu_id_fkey FOREIGN KEY (menu_id) REFERENCES public.menu(id) ON DELETE CASCADE;


--
-- Name: menu menu_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.menu
    ADD CONSTRAINT menu_id_fkey FOREIGN KEY (id) REFERENCES public.product(id) ON DELETE CASCADE;


--
-- Name: paiement paiement_commande_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.paiement
    ADD CONSTRAINT paiement_commande_id_fkey FOREIGN KEY (commande_id) REFERENCES public.commande(id) ON DELETE CASCADE;


--
-- Name: quartier quartier_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: neondb_owner
--

ALTER TABLE ONLY public.quartier
    ADD CONSTRAINT quartier_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.zone(id) ON DELETE SET NULL;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO neon_superuser WITH GRANT OPTION;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: cloud_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE cloud_admin IN SCHEMA public GRANT ALL ON TABLES TO neon_superuser WITH GRANT OPTION;


--
-- PostgreSQL database dump complete
--

\unrestrict IcC1YZ8hMIGBFZk5wvxuyTM7vgxx7m4pVIhRpqdW7b44X79RTkOTE8DV1MBvCB1

