:root {
    --bb-orange: #ff7a00;
    --bb-dark: #111;
    --bb-light: #f8f8f8;
}

:root {
    --bb-orange: #ff7a00;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.hero {
    height: 80vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url("/images/hero-burger.jpg") center/cover no-repeat;

    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.hero h1 {
    font-size: 52px;
    font-weight: 800;
    line-height: 1.1;
}

.hero p {
    max-width: 480px;
    margin: 20px 0;
    font-size: 16px;
}

.btn-orange {
    background-color: var(--bb-orange);
    color: white;
    border-radius: 8px;
    padding: 10px 18px;
}

.btn-orange:hover {
    background-color: #e56e00;
    color: white;
}

.hero-buttons {
    display: flex;
    gap: 12px;
}
